# Semi Project team 4 데이터 탐색 및 전처리 프로젝트 (EDA)

# 1. 개요

- 월별 전국 아파트 분양가격 데이터를 전처리하고, 어떻게 아파트에 투자해야 좋을지 가설을 세우고 분석한 결과


# 2. 분석과제

### 아파트 가격정보를 보고 어떻게 아파트를 투자해야 좋을지 분석해보세요.
- 데이터셋 - https://www.data.go.kr/dataset/3035522/fileData.do
- 분양가격이 실제 아파트 가격 상승과 깊은 관계가 있다는 가정하에 분석해보세요.
- 위의 tips와 같이 3가지 이상의 가설을 세워 분석해보세요.
- 가설, 분석과정, 결과 확인에 대한 설명 주석을 달아주세요.


# 3. 분석방법

- 팀원이 각각 가설을 제안하고, 가설 별로 하나씩 담당해 분석하여 결과를 취합


# 4. 가설 
    
    1) 새학기, 인사이동 등 국내인구이동이 많이 일어나는 겨울, 봄 계절의 분양가격이 여름, 가을 분양가격보다 비쌀 것이다.
    
    2) 2016년 9-10월, 2017년 11월~18년 2월에 경북지역의 아파트 분양가격이 하락했을 것이다.
    
    3) 해가 갈수록 서울, 수도권 지역 분양가격 상승률이 타 지역에 비해 높을 것이다.
    
    4) 전용면적이 넓어질수록 분양가격이 하락할 것이다.
    
# 5. 가설 별 분석결과

## 가설 1) 분석

## 가설설정



1. 가설 :
   - 새학기, 인사이동 등 국내인구이동이 많이 일어나는 겨울,봄 계절의 분양가격이 여름,가을 분양가격보다 비쌀것이다.
   


2. 가설근거
  
  
      1) 인구이동

       ㅇ 관련근거
         - 통계청 발간 2018년 7월 국내인구이동 보도자료
         
       ㅇ 최근 3년간 인구이동 추이
         - 인구이동량 : 겨울, 봄 > 여름,가을 
      
      2) 계절정의
        
       ㅇ 관련근거
         - 한국학중앙연구원육성법 시행령
         - 한국민족문화대백과사전 자연지리/개념용어 '계절'
            
       ㅇ 계절정의
         - 봄 : 3 ~ 5월
         - 여름 : 6 ~ 8월
         - 가을 : 9월 ~ 11월
         - 겨울 : 12월 ~ 2월

## 분석방법

#### 1. '규모구분' 칼럼 내 '전체' 데이터 중에서 월별 평균 분양가격 추이 분석

##### 2. '규모구분' 칼럼 내 '전체' 데이터 중에서 '서울', '경기', '인천', '부산', '세종', '대전'을 제외한 지역의 월별 평균 분양가격 추이 분석

##### 3. '규모구분' 칼럼 내 전용면적 별로  월별 평균 분양가격 추이 분석

##### 4. '규모구분' 칼럼 내 전용면적 별로 '서울', '경기', '인천', '부산', '세종', '대전'을 제외한 지역의 평균 분양가격 추이 분석

## 분석중점
     
   - 월별 평균 분양가격 추이 확인으로 가설검증

## 분석결과 

 - 가설과 무관하게 시간의 흐름에 따라 분양가격은 상승곡선을 그리는 추이

## 분석과정

### 분석방법 1. '규모구분' 칼럼 내 '전체' 데이터 중에서 월별 평균 분양가격 분석

In [1]:
## < 분석과정 요약 >

## 1. 데이터 프레임 내 평균 계산 등 연산을 위한 noise 데이터 제거 및 데이터 형태 int화 : step 1. ~ step 6.
## 2. 'year'과 'month'를 기준으로 'price' 추이변화 확인을 위한 'price' 평균계산 및 그룹바이  : step 7.  ~ step 10. 
## 3. "increase rate from a month ago(전월대비 분양가 상승률)" 생성 및 확인 : step 11. ~ step 12.

## step 1. 원본데이터 로드
## step 2. 컬럼이름 및 데이터 변수이름 변경
## step 3. 'price' 컬럼에서 공백을 'nan' 값으로 변경
## step 4. 'nan' 값 제거
## step 5. 'price' 칼럼 내 데이터 중 ','을 포함한 데이터에서 ','제거
## step 6. 'price' 칼럼형식 int형으로 변경
## step 7. 'size' 칼럼에서 'avg' 데이터만 전시 , index 재설정
## step 8. 'size' 칼럼삭제
## step 9. 'year'과 'month' 칼럼을 기준으로 price 칼럼 평균을 출력해주는 groupby 실행, 추가로 index 재설정
## step 10. 연산결과 두자리수에서 반올림
## step 11. "increase rate from a month ago(전월대비 분양가 상승률)" 생성
## step 12. "increase rate from a month ago" 칼럼 데이터 뒤에 '%' 추가


## < 세부 분석과정 >

# step 1. 원본데이터 로드
import pandas as pd
total_df = pd.read_csv("apt_2018_7.csv", encoding='euc-kr')

# step 2. 컬럼이름 및 데이터 변수이름 변경
total_df.rename(columns = {"지역명":"city","규모구분":"size","연도":"year","월":"month","분양가격(㎡)":"price(㎡)"}, inplace = True)
total_df.replace(('전용면적 102㎡초과','전용면적 85㎡초과 102㎡이하','전용면적 60㎡초과 85㎡이하','전용면적 60㎡이하','전체'),\
           ('102㎡ ~','85㎡ ~ 102㎡', '60㎡ ~ 85㎡','~ 60㎡','avg'), inplace = True)


# step 3. 'price' 컬럼에서 공백을 'nan' 값으로 변경
total_df["price(㎡)"].replace('  ', np.nan, inplace =  True )

# step 4. 'nan' 값 제거
total_df.dropna(inplace = True)

# step 5. 'price' 칼럼 내 데이터 중 ','을 포함한 데이터에서 ','제거
total_df["price(㎡)"] = total_df["price(㎡)"].apply(lambda x: x.replace(',',''))


# step 6. 'price' 칼럼형식 int형으로 변경
total_df["price(㎡)"] = total_df["price(㎡)"].astype(int)


# step 7. 'size' 칼럼에서 'avg' 데이터만 전시 , index 재설정
partial_df = total_df[total_df["size"] == 'avg'].reset_index(drop=True)
partial_df


# step 8. 'size' 칼럼삭제
partial_df.drop("size", axis=1, inplace=True)
partial_df

# step 9. 'year'과 'month' 칼럼을 기준으로 price 칼럼 평균을 출력해주는 groupby 실행, 추가로 index 재설정
step1_df = partial_df.groupby([partial_df["year"],partial_df["month"]]).mean()["price(㎡)"].reset_index()

# step 10. 연산결과 두자리수에서 반올림
step1_df = round(step1_df,2)

# step 11. "increase rate from a month ago" 생성
price_list = [step1_df.loc[0]["price(㎡)"]]

def increase_rate(price):   
    price_list_pop = price_list.pop()
    increase_rate = round((price / price_list_pop * 100),2)
    price_list.append(price)
    return increase_rate

step1_df["increase rate from a month ago"] = step1_df["price(㎡)"].apply(increase_rate)

del price_list 

# step 12. "increase rate from a month ago" 칼럼 데이터 뒤에 '%' 추가
step1_df["increase rate from a month ago"] = step1_df["increase rate from a month ago"].astype('str')
step1_df["increase rate from a month ago"] = step1_df["increase rate from a month ago"].apply(lambda data : data + " %")

step1_df

    year  month  price(㎡) increase rate from a month ago
0   2015     10   2673.71                        100.0 %
1   2015     11   2690.71                       100.64 %
2   2015     12   2720.18                        101.1 %
3   2016      1   2740.29                       100.74 %
4   2016      2   2743.24                       100.11 %
5   2016      3   2746.59                       100.12 %
6   2016      4   2781.06                       101.26 %
7   2016      5   2793.71                       100.45 %
8   2016      6   2823.00                       101.05 %
9   2016      7   2828.00                       100.18 %
10  2016      8   2836.65                       100.31 %
11  2016      9   2832.00                        99.84 %
12  2016     10   2891.12                       102.09 %
13  2016     11   2876.35                        99.49 %
14  2016     12   2900.88                       100.85 %
15  2017      1   2897.88                         99.9 %
16  2017      2   2906.06                       100.28 %
17  2017      3   2903.12                         99.9 %
18  2017      4   2947.00                       101.51 %
19  2017      5   2983.53                       101.24 %
20  2017      6   3012.18                       100.96 %
21  2017      7   3055.47                       101.44 %
22  2017      8   3053.82                        99.95 %
23  2017      9   3069.94                       100.53 %
24  2017     10   3057.88                        99.61 %
25  2017     11   3095.12                       101.22 %
26  2017     12   3117.35                       100.72 %
27  2018      1   3140.24                       100.73 %
28  2018      2   3156.41                       100.51 %
29  2018      3   3202.53                       101.46 %
30  2018      4   3219.71                       100.54 %
31  2018      5   3255.12                        101.1 %
32  2018      6   3226.59                        99.12 %
33  2018      7   3205.82                        99.36 %

In [79]:
import matplotlib.font_manager as fm
font_location = "C:\Windows\Fonts\H2GTRM.TTF"
font_name = fm.FontProperties(fname=font_location).get_name()
print(font_name)
mpl.rc('font', family=font_name)

HYGothic-Medium

In [80]:
mpl.rcParams["font.family"]

['HYGothic-Medium']

### 분석방법 2.'규모구분' 칼럼 내 '전체' 데이터 중에서 '서울', '경기', '인천', '부산', '세종', '대전'을 제외한 지역의 월별 평균 분양가격 추이 분석

In [ ]:
## < 분석과정 요약 >

## 1. 데이터 프레임 내 평균 계산 등 연산을 위한 noise 데이터 제거 및 데이터 형태 int화 : step 1. ~ step 6.
## 2. 'year'과 'month'를 기준으로 'price' 추이변화 확인을 위한 'price' 평균계산 및 그룹바이  : step 7.  ~ step 11. 
## 3. "increase rate from a month ago(전월대비 분양가 상승률)" 생성 및 확인 : step 12. ~ step 13.

## step 1. 원본데이터 로드
## step 2. 컬럼이름 및 데이터 변수이름 변경
## step 3. 'price' 컬럼에서 공백을 'nan' 값으로 변경
## step 4. 'nan' 값 제거
## step 5. 'price' 칼럼 내 데이터 중 ','을 포함한 데이터에서 ','제거
## step 6. 'price' 칼럼형식 int형으로 변경
## step 7. 'size' 칼럼에서 'avg' 데이터만 전시 , index 재설정
## step 8. 'city' 컬럼에서 '서울', '경기', '인천', '부산', '세종', '대전' 데이터 제거
## step 9. 'size' 컬럼 제거
## step 10. 'year'과 'month' 칼럼을 기준으로 price 칼럼 평균을 출력해주는 groupby 실행, 추가로 index 재설정
## step 11. 연산결과 두자리수에서 반올림
## step 12. "increase rate from a month ago(전월대비 분양가 상승률)" 생성
## step 13. "increase rate from a month ago" 칼럼 데이터 뒤에 '%' 추가


## < 세부 분석과정 >


# step 1. 원본데이터 로드
import pandas as pd
total_df = pd.read_csv("apt_2018_7.csv", encoding='euc-kr')

# step 2. 컬럼이름 및 데이터 변수이름 변경
total_df.rename(columns = {"지역명":"city","규모구분":"size","연도":"year","월":"month","분양가격(㎡)":"price(㎡)"}, inplace = True)
total_df.replace(('전용면적 102㎡초과','전용면적 85㎡초과 102㎡이하','전용면적 60㎡초과 85㎡이하','전용면적 60㎡이하','전체'),\
           ('102㎡ ~','85㎡ ~ 102㎡', '60㎡ ~ 85㎡','~ 60㎡','avg'), inplace = True)


# step 3. 'price' 컬럼에서 공백을 'nan' 값으로 변경
total_df["price(㎡)"].replace('  ', np.nan, inplace =  True )

# step 4. 'nan' 값 제거
total_df.dropna(inplace = True)

# step 5. 'price' 칼럼 내 데이터 중 ','을 포함한 데이터에서 ','제거
total_df["price(㎡)"] = total_df["price(㎡)"].apply(lambda x: x.replace(',',''))


# step 6. 'price' 칼럼형식 int형으로 변경
total_df["price(㎡)"] = total_df["price(㎡)"].astype(int)


# step 7. 'size' 칼럼에서 'avg' 데이터만 전시 , index 재설정
partial = total_df[total_df["size"] == 'avg'].reset_index(drop =True)


# step 8. 'city' 컬럼에서 '서울', '경기', '인천', '부산', '세종', '대전' 데이터 제거
partial6 = partial[~partial["city"].isin(["서울","경기","인천",'부산','세종','대전'])]

# step 9. 'size' 컬럼 제거
partial6.drop("size",axis=1,inplace = True)

## step 10. 'year'과 'month' 칼럼을 기준으로 price 칼럼 평균을 출력해주는 groupby 실행, 추가로 index 재설정
result = partial6.groupby([partial6["year"],partial6["month"]]).mean()["price(㎡)"].reset_index()

## step 11. 연산결과 두자리수에서 반올림
result = round(result,2)

## step 12. "increase rate from a month ago(전월대비 분양가 상승률)" 생성
price_list = [result.loc[0]["price(㎡)"]]

def increase_rate(price):   
    price_list_pop = price_list.pop()
    increase_rate = round((price / price_list_pop * 100),2)
    price_list.append(price)
    return increase_rate

result["increase rate from a month ago"] = result["price(㎡)"].apply(increase_rate)

del price_list

## step 13. "increase rate from a month ago" 칼럼 데이터 뒤에 '%' 추가
result["increase rate from a month ago"] = result["increase rate from a month ago"].astype('str')
result["increase rate from a month ago"] = result["increase rate from a month ago"].apply(lambda data : data + " %")

result

### 분석방법 3. '규모구분' 칼럼 내 전용면적 별로  월별 평균 분양가격 추이 분석

In [ ]:
## < 분석과정 요약 >

## 1. 데이터 프레임 내 평균 계산 등 연산을 위한 noise 데이터 제거 및 데이터 형태 int화 : step 1. ~ step 6.
## 2. 'year'과 'month'를 기준으로 'price' 추이변화 확인을 위한 'price' 평균계산 및 그룹바이  : step 7.  ~ step 10. 
## 3. "increase rate from a month ago(전월대비 분양가 상승률)" 생성 및 확인 : step 11. ~ step 13.

## step 1. 원본데이터 로드
## step 2. 컬럼이름 및 데이터 변수이름 변경
## step 3. 'price' 컬럼에서 공백을 'nan' 값으로 변경
## step 4. 'nan' 값 제거
## step 5. 'price' 칼럼 내 데이터 중 ','을 포함한 데이터에서 ','제거
## step 6. 'price' 칼럼형식 int형으로 변경
## step 7. 'size' 칼럼에서 'avg' 데이터만 전시 , index 재설정
## step 8. 'size' 컬럼에서 'size' 별로 확인 할 수 있도록 코드작성. 아래와 같이 주석처리하여 선택가능
## step 9. 'size' 컬럼 제거
## step 10. 'year'과 'month' 칼럼을 기준으로 price 칼럼 평균을 출력해주는 groupby 실행, 추가로 index 재설정
## step 11. 연산결과 두자리수에서 반올림
## step 12. "increase rate from a month ago(전월대비 분양가 상승률)" 생성
## step 13. "increase rate from a month ago" 칼럼 데이터 뒤에 '%' 추가


## < 세부 분석과정 >


# step 1. 원본데이터 로드
import pandas as pd
total_df = pd.read_csv("apt_2018_7.csv", encoding='euc-kr')

# step 2. 컬럼이름 및 데이터 변수이름 변경
total_df.rename(columns = {"지역명":"city","규모구분":"size","연도":"year","월":"month","분양가격(㎡)":"price(㎡)"}, inplace = True)
total_df.replace(('전용면적 102㎡초과','전용면적 85㎡초과 102㎡이하','전용면적 60㎡초과 85㎡이하','전용면적 60㎡이하','전체'),\
           ('102㎡ ~','85㎡ ~ 102㎡', '60㎡ ~ 85㎡','~ 60㎡','avg'), inplace = True)


# step 3. 'price' 컬럼에서 공백을 'nan' 값으로 변경
total_df["price(㎡)"].replace('  ', np.nan, inplace =  True )

# step 4. 'nan' 값 제거
total_df.dropna(inplace = True)

# step 5. 'price' 칼럼 내 데이터 중 ','을 포함한 데이터에서 ','제거
total_df["price(㎡)"] = total_df["price(㎡)"].apply(lambda x: x.replace(',',''))


# step 6. 'price' 칼럼형식 int형으로 변경
total_df["price(㎡)"] = total_df["price(㎡)"].astype(int)


# step 7. 'size' 칼럼에서 'avg' 데이터만 전시 , index 재설정
partial = total_df[total_df['size'] != 'avg'].reset_index(drop =True)


# step 8. 'size' 컬럼에서 'size' 별로 확인 할 수 있도록 코드작성. 아래와 같이 주석처리하여 선택가능
partial1 = partial[partial['size'] == '~ 60㎡'].reset_index(drop=True)
# partial = partial[partial['size'] == '60㎡ ~ 85㎡'].reset_index(drop=True)
# partial = partial[partial['size'] == '85㎡ ~ 102㎡'].reset_index(drop=True)
# partial = partial[partial['size'] == '102㎡ ~'].reset_index(drop=True)


# step 9. 'size' 컬럼 제거
partial1.drop("size",axis=1,inplace = True)

# step 10. 'year'과 'month' 칼럼을 기준으로 price 칼럼 평균을 출력해주는 groupby 실행, 추가로 index 재설정
result = partial1.groupby([partial1["year"],partial1["month"]]).mean()["price(㎡)"].reset_index()

# step 11. 연산결과 두자리수에서 반올림
result = round(result,2)

# step 12. "increase rate from a month ago(전월대비 분양가 상승률)" 생성
price_list = [result.loc[0]["price(㎡)"]]

def increase_rate(price):   
    price_list_pop = price_list.pop()
    increase_rate = round((price / price_list_pop * 100),2)
    price_list.append(price)
    return increase_rate

result["increase rate from a month ago"] = result["price(㎡)"].apply(increase_rate)

del price_list

# step 13. "increase rate from a month ago" 칼럼 데이터 뒤에 '%' 추가
result["increase rate from a month ago"] = result["increase rate from a month ago"].astype('str')
result["increase rate from a month ago"] = result["increase rate from a month ago"].apply(lambda data : data + " %")

result

### 분석방법 4. '규모구분' 칼럼 내 전용면적 별로 '서울', '경기', '인천', '부산', '세종', '대전'을 제외한 지역의 평균 분양가격 추이 분석

In [ ]:
## < 분석과정 요약 >

## 1. 데이터 프레임 내 평균 계산 등 연산을 위한 noise 데이터 제거 및 데이터 형태 int화 : step 1. ~ step 6.
## 2. 'year'과 'month'를 기준으로 'price' 추이변화 확인을 위한 'price' 평균계산 및 그룹바이  : step 7.  ~ step 10. 
## 3. "increase rate from a month ago(전월대비 분양가 상승률)" 생성 및 확인 : step 11. ~ step 13.

## step 1. 원본데이터 로드
## step 2. 컬럼이름 및 데이터 변수이름 변경
## step 3. 'price' 컬럼에서 공백을 'nan' 값으로 변경
## step 4. 'nan' 값 제거
## step 5. 'price' 칼럼 내 데이터 중 ','을 포함한 데이터에서 ','제거
## step 6. 'price' 칼럼형식 int형으로 변경
## step 7. 'size' 칼럼에서 'avg' 데이터만 전시 , index 재설정
## step 8. 'size' 컬럼에서 'size' 별로 확인 할 수 있도록 코드작성. 아래와 같이 주석처리하여 선택가능
## step 9. 'city' 컬럼에서 '서울', '경기', '인천', '부산', '세종', '대전' 데이터 제거
## step 10. 'size' 컬럼 제거
## step 11. 'year'과 'month' 칼럼을 기준으로 price 칼럼 평균을 출력해주는 groupby 실행, 추가로 index 재설정
## step 12. 연산결과 두자리수에서 반올림
## step 13. "increase rate from a month ago(전월대비 분양가 상승률)" 생성
## step 14. "increase rate from a month ago" 칼럼 데이터 뒤에 '%' 추가


## < 세부 분석과정 >


# step 1. 원본데이터 로드
import pandas as pd
total_df = pd.read_csv("apt_2018_7.csv", encoding='euc-kr')

# step 2. 컬럼이름 및 데이터 변수이름 변경
total_df.rename(columns = {"지역명":"city","규모구분":"size","연도":"year","월":"month","분양가격(㎡)":"price(㎡)"}, inplace = True)
total_df.replace(('전용면적 102㎡초과','전용면적 85㎡초과 102㎡이하','전용면적 60㎡초과 85㎡이하','전용면적 60㎡이하','전체'),\
           ('102㎡ ~','85㎡ ~ 102㎡', '60㎡ ~ 85㎡','~ 60㎡','avg'), inplace = True)


# step 3. 'price' 컬럼에서 공백을 'nan' 값으로 변경
total_df["price(㎡)"].replace('  ', np.nan, inplace =  True )

# step 4. 'nan' 값 제거
total_df.dropna(inplace = True)

# step 5. 'price' 칼럼 내 데이터 중 ','을 포함한 데이터에서 ','제거
total_df["price(㎡)"] = total_df["price(㎡)"].apply(lambda x: x.replace(',',''))


# step 6. 'price' 칼럼형식 int형으로 변경
total_df["price(㎡)"] = total_df["price(㎡)"].astype(int)


# step 7. 'size' 칼럼에서 'avg' 데이터만 전시 , index 재설정
partial = total_df[total_df['size'] != 'avg'].reset_index(drop =True)

# step 8. 'size' 컬럼에서 'size' 별로 확인 할 수 있도록 코드작성. 아래와 같이 주석처리하여 선택가능
partial = partial[partial['size'] == '~ 60㎡'].reset_index(drop=True)
# partial = partial[partial['size'] == '60㎡ ~ 85㎡'].reset_index(drop=True)
# partial = partial[partial['size'] == '85㎡ ~ 102㎡'].reset_index(drop=True)
# partial = partial[partial['size'] == '102㎡ ~'].reset_index(drop=True)

# step 9. 'city' 컬럼에서 '서울', '경기', '인천', '부산', '세종', '대전' 데이터 제거
partial6 = partial[~partial["city"].isin(["서울","경기","인천",'부산','세종','대전'])]


# step 10. 'size' 컬럼 제거
partial6.drop("size",axis=1,inplace = True)

# step 11. 'year'과 'month' 칼럼을 기준으로 price 칼럼 평균을 출력해주는 groupby 실행, 추가로 index 재설정
result = partial6.groupby([partial6["year"],partial6["month"]]).mean()["price(㎡)"].reset_index()

# step 12. 연산결과 두자리수에서 반올림
result = round(result,2)

# step 13. "increase rate from a month ago(전월대비 분양가 상승률)" 생성
price_list = [result.loc[0]["price(㎡)"]]

def increase_rate(price):   
    price_list_pop = price_list.pop()
    increase_rate = round((price / price_list_pop * 100),2)
    price_list.append(price)
    return increase_rate

result["increase rate from a month ago"] = result["price(㎡)"].apply(increase_rate)

del price_list

# step 14. "increase rate from a month ago" 칼럼 데이터 뒤에 '%' 추가
result["increase rate from a month ago"] = result["increase rate from a month ago"].astype('str')
result["increase rate from a month ago"] = result["increase rate from a month ago"].apply(lambda data : data + " %")

result

## 결론

월별로 분양가 차이나 특이점이 없었고 수도권 비수도권 구분 없이 분양가는 지속적으로 상승하는 추세로 본 가설과 무방한 결과 도출

## 가설 2) 분석

## 가설설정

1. 가설 :

   - **2016년 9-10월, 2017년 11월~18년 2월에 경북지역의 아파트 분양가격이 하락했을 것이다.**
  

2. 가설근거
  
    ㅇ 지진피해 발생
       - 행정안전부 2016 재해연보(145-147), 2017 재해연보(106-110)
       
    ㅇ 현상인식
       - '16년 9월 경상북도 경주, 17년 11월 경상북도 포항을 중심으로 리히터 규모 5이상의 지진으로 인명 및 재산피해 발생

## 분석방법


1. 지역 칼럼에서 '경북'에 해당하는 데이터만 추출 후, 규모구분 칼럼 내 '전체' 데이터의 월별 분양가격 상승률 계산 및 비교분석


2. 경북 지역 각 전용면적마다의 월별 분양가격 상승률 계산 및 비교분석


3. 전국 모든 시,도의 규모구분 '전체' 데이터 추출 후 월별 분양가격 상승률 계산, 예측한 시기의 경북지역 상승률과 타 지역들의 상승률 비교



## 분석중점


  - 경북 지역에서의 아파트 분양가격 상승률 추이를 월별로 비교하여 다른 시기에 비해 예측한 시기 분양가격이 하락하는지 확인


  - 예측한 시기의 전국 모든 시, 도의 아파트 분양가격 상승률 추이를 비교하여 경북지역의 분양가격이 타지역에 비해 하락했는지 확인

## 분석결과 

 - 가설과 정반대로, 지진이 발생한 시기에 경북 지역의 아파트 분양가격은 오히려 상승하는 경향을 보임

## 분석과정

#### 데이터 전처리

In [134]:
df = pd.read_csv("apt_2018_7.csv", encoding='euc-kr')
df.rename(columns = {"지역명":"city","규모구분":"size","연도":"year","월":"month","분양가격(㎡)":"price(㎡)"}, inplace = True)
df.replace(('전용면적 102㎡초과','전용면적 85㎡초과 102㎡이하','전용면적 60㎡초과 85㎡이하','전용면적 60㎡이하','전체'),\
           ('102㎡ ~','85㎡ ~ 102㎡', '60㎡ ~ 85㎡','~ 60㎡','avg'), inplace = True)
df.head()

  city        size  year  month price(㎡)
0   서울         avg  2015     10     5841
1   서울       ~ 60㎡  2015     10     5652
2   서울   60㎡ ~ 85㎡  2015     10     5882
3   서울  85㎡ ~ 102㎡  2015     10     5721
4   서울      102㎡ ~  2015     10     5879

In [135]:
# 분양가격 column에서 공백, 즉 가격데이터가 없는 값들을 nan으로 바꿔주고, nan값인 행들을 제거합니다.
df["price(㎡)"].replace('  ', np.nan, inplace = True)
df.dropna(inplace = True)

# 가격 내 쉼표를 제거합니다.
df["price(㎡)"] = df["price(㎡)"].apply(lambda x: x.replace(',',''))

# str이었던 가격을 int로 바꿔줍니다.
df['price(㎡)'] = df['price(㎡)'].astype('int')

# index를 reset해줍니다.
df.reset_index(drop = True, inplace = True)
df.tail()

     city        size  year  month  price(㎡)
2729   경남      102㎡ ~  2018      7      2839
2730   제주         avg  2018      7      3334
2731   제주   60㎡ ~ 85㎡  2018      7      3356
2732   제주  85㎡ ~ 102㎡  2018      7      3226
2733   제주      102㎡ ~  2018      7      2990

In [4]:
# rise = [np.nan]
# def rising_price(price):
#     for index in range(len(price)-1):
#         a = round(list(price)[index+1] / list(price)[index] * 100, 2)
#         rise.append(a)
#     return rise
# list(df_kb_all['price(㎡)'])[0] / list(df_kb_all['price(㎡)'])[1] * 100  


# 처음에 이렇게 함수를 선언해서 상승률을 계산했는데 pandas 내부 기능으로 lambda를 사용해 apply하는 방법으로 수정,개선하였습니다.

#### 분석 1. 경북지역 아파트 '전체' 월별 분양가격 상승률 계산 및 비교분석

In [5]:
# 경북지역 중 size가 전체인 것들끼리 분양가격을 비교하기 위해 새 dataframe을 만듭니다.
df_kb_all = df[df['city'] == '경북']
df_kb_all = df_kb_all[df_kb_all['size'] == 'avg']
df_kb_all.reset_index(drop=True, inplace=True)


# 아래 lambda 함수에서 상승률을 계산하기 위해 index값을 밸류값으로 하는 column을 생성합니다.
df_kb_all['index'] =list(range(len(df_kb_all)))


# lambda함수로 상승률을 계산해 apply함수를 이용하여 'rate_of_rise'라는 새로운 칼럼에 넣어줍니다.
df_kb_all['rate_of_rise'] = df_kb_all['index'].apply(lambda x : np.nan if x == 0 \
                                                     else round(df_kb_all['price(㎡)'][x] / df_kb_all['price(㎡)'][x-1] * 100, 2))


# 오로지 상승률 계산을 위해 만들었던 index칼럼을 드랍합니다. 
df_kb_all.drop(columns = 'index', inplace = True)


# pivot으로 연도별, 월별로 보기 좋게 정리합니다.
df_kb_all = df_kb_all.pivot("month", "year", "rate_of_rise")
df_kb_all

year     2015    2016    2017    2018
month
1         NaN  100.00  100.04  102.13
2         NaN   99.91   99.78  100.00
3         NaN  100.00   99.31   99.96
4         NaN   99.91  101.18  100.00
5         NaN   99.95  101.94  107.70
6         NaN  102.85  100.85  100.11
7         NaN  100.45   99.96  101.63
8         NaN   99.56  102.48     NaN
9         NaN  100.58   99.51     NaN
10        NaN  101.91   97.45     NaN
11     101.96  100.00  100.97     NaN
12      99.59  100.74  100.00     NaN

In [ ]:
#예측한 시기의 분양가격 상승률
df_kb_all[2016][9], df_kb_all[2016][10], df_kb_all[2017][11], df_kb_all[2017][12], df_kb_all[2018][1], df_kb_all[2018][2]

- 분석 1의 결과
>예측했던 것과는 정반대로, 
2016년 9월에서 10월, 2017년 11월에서 2018년 2월까지 분양가격이 오히려 상승했거나 변동이 없었음을 확인할 수 있습니다.

#### 분석 2. 경북 지역 각 전용면적마다의 월별 분양가격 상승률 계산 및 비교분석

##### 1) 전용면적 60㎡ 이하

In [ ]:
df_kb_60_lower = df[df['city'] == '경북']
df_kb_60_lower = df_kb_60_lower[df_kb_60_lower['size'] == '~ 60㎡']
df_kb_60_lower.reset_index(drop=True, inplace=True)
df_kb_60_lower['index'] =list(range(len(df_kb_60_lower)))
df_kb_60_lower['rate_of_rise'] = df_kb_60_lower['index'].apply(lambda x : np.nan if x == 0 \
                                                               else round(df_kb_60_lower['price(㎡)'][x] / df_kb_60_lower['price(㎡)'][x-1] * 100, 2))
df_kb_60_lower.tail()
df_kb_60_lower.drop(columns = 'index', inplace = True)

df_kb_60_lower = df_kb_60_lower.pivot("month", "year", "rate_of_rise")
df_kb_60_lower

##### 2) 전용면적 60㎡ 초과 85㎡ 이하

In [ ]:
df_kb_60_to_85 = df[df['city'] == '경북']
df_kb_60_to_85 = df_kb_60_to_85[df_kb_60_to_85['size'] == '60㎡ ~ 85㎡']

df_kb_60_to_85.reset_index(drop=True, inplace=True)
df_kb_60_to_85['index'] =list(range(len(df_kb_60_to_85)))
df_kb_60_to_85['rate_of_rise'] = df_kb_60_to_85['index'].apply(lambda x : np.nan if x == 0 \
                                                               else round(df_kb_60_to_85['price(㎡)'][x] / df_kb_60_to_85['price(㎡)'][x-1] * 100, 2))
df_kb_60_to_85.tail()
df_kb_60_to_85.drop(columns = 'index', inplace = True)

df_kb_60_to_85 = df_kb_60_to_85.pivot("month", "year", "rate_of_rise")
df_kb_60_to_85

##### 3) 전용면적 85㎡ 초과 102㎡ 이하

In [ ]:
df_kb_85_to_102 = df[df['city'] == '경북']
df_kb_85_to_102 = df_kb_85_to_102[df_kb_85_to_102['size'] == '85㎡ ~ 102㎡']

df_kb_85_to_102.reset_index(drop=True, inplace=True)
df_kb_85_to_102['index'] =list(range(len(df_kb_85_to_102)))
df_kb_85_to_102['rate_of_rise'] = df_kb_85_to_102['index'].apply(lambda x : np.nan if x == 0 \
                                                                 else round(df_kb_85_to_102['price(㎡)'][x] / df_kb_85_to_102['price(㎡)'][x-1] * 100, 2))
df_kb_85_to_102.tail()
df_kb_85_to_102.drop(columns = 'index', inplace = True)

df_kb_85_to_102 = df_kb_85_to_102.pivot("month", "year", "rate_of_rise")
df_kb_85_to_102

##### 4) 전용면적 102㎡ 초과

In [ ]:
df_kb_102_up = df[df['city'] == '경북']
df_kb_102_up = df_kb_102_up[df_kb_102_up['size'] == '102㎡ ~']

df_kb_102_up.reset_index(drop=True, inplace=True)
df_kb_102_up['index'] =list(range(len(df_kb_102_up)))
df_kb_102_up['rate_of_rise'] = df_kb_102_up['index'].apply(lambda x : np.nan if x == 0 \
                                                           else round(df_kb_102_up['price(㎡)'][x] / df_kb_102_up['price(㎡)'][x-1] * 100, 2))
df_kb_102_up.tail()
df_kb_102_up.drop(columns = 'index', inplace = True)

df_kb_102_up = df_kb_102_up.pivot("month", "year", "rate_of_rise")
df_kb_102_up

In [ ]:
#예측한 시기의 단위면적별 분양가격 상승률

#60㎡ 이하
df_kb_60_lower[2016][9], df_kb_60_lower[2016][10], df_kb_60_lower[2017][11], df_kb_60_lower[2017][12], df_kb_60_lower[2018][1], df_kb_60_lower[2018][2]

In [ ]:
#60㎡ 초과 85㎡ 이하
df_kb_60_to_85[2016][9], df_kb_60_to_85[2016][10], df_kb_60_to_85[2017][11], df_kb_60_to_85[2017][12], df_kb_60_to_85[2018][1], df_kb_60_to_85[2018][2]

In [ ]:
#85㎡ 초과 102㎡ 이하
df_kb_85_to_102[2016][9], df_kb_85_to_102[2016][10]

In [ ]:
#102㎡ 초과
df_kb_102_up[2016][9], df_kb_102_up[2016][10], df_kb_102_up[2017][11], df_kb_102_up[2017][12], df_kb_102_up[2018][1], df_kb_102_up[2018][2]

- 분석 2의 결과
> 예측한 기간동안 모든 면적에서 대체적으로 분양가격이 상승하는 경향이 보이고, 그 상승률의 크기는 면적이 커질수록 작아진다.

#### 분석 3. 예측 시기 전국 모든 시,도의 아파트 '전체'  월별 분양가격 상승률과 경북지역 상승률 비교

In [136]:
#전국의 아파트 분양가격을 '전체'로만 비교하기 위한 데이터프레임을 생성합니다.
df= df[df['size'] == 'avg']
df.reset_index(inplace = True)
df.head()

   index city size  year  month  price(㎡)
0      0   서울  avg  2015     10      5841
1      5   인천  avg  2015     10      3163
2     10   경기  avg  2015     10      3138
3     15   부산  avg  2015     10      3112
4     20   대구  avg  2015     10      2682

In [144]:
# 가격, 지역, 월별로 피봇테이블을 생성합니다.
df_pt = df.pivot_table('price(㎡)',['city'], ['year','month'])
#df_pt.columns = df_pt.columns.droplevel()
df_pt.head()#.reset_index().head()

year   2015              2016                                      ...   2017  \
month    10    11    12    1     2     3     4     5     6     7   ...     10
city                                                               ...
강원     2167  2171  2171  2173  2173  2194  2140  2117  2104  2101  ...   2279
경기     3138  3098  3198  3198  3219  3215  3199  3443  3542  3531  ...   3625
경남     2291  2298  2307  2327  2358  2383  2391  2381  2389  2375  ...   2436
경북     2148  2190  2181  2181  2179  2179  2177  2176  2238  2248  ...   2367
광주     2420  2424  2476  2569  2569  2590  2700  2722  2737  2742  ...   2912

year               2018
month    11    12    1     2     3     4     5     6     7
city
강원     2319  2302  2324  2323  2391  2277  2289  2292  2312
경기     3557  3617  3846  3876  3876  3859  3987  3927  3952
경남     2621  2696  2696  2698  2697  2690  2695  2695  2696
경북     2390  2390  2441  2441  2440  2440  2628  2631  2674
광주     2895  2896  2894  2894  2930  2885  2906  3000  2935

[5 rows x 34 columns]

In [141]:
len(df_pt)

34

In [146]:
#위 테이블의 밸류값을 월별 분양가격 상승률로 바꿔주기 위해 우선 지역별로, 즉 row 마다 상승률을 계산해 rising이라는 리스트에 넣어줍니다.

rising=[]

for index in range(17):   #전체 행 개수
    rising.append(np.nan)
    for index2 in range(33):   #전체 열 개수
        a = round(df_pt.values[index][index2+1] / df_pt.values[index][index2] * 100, 2)
        rising.append(a)

In [147]:
#위에서 뽑은 상승률 리스트를 행렬로 만들고 테이블 모양과 동일하게 reshape해줍니다.

na = np.array(rising).reshape(17,34)
na

array([[   nan, 100.18, 100.  , 100.09, 100.  , 100.97,  97.54,  98.93,
         99.39,  99.86,  99.86, 100.1 , 101.76,  96.91, 100.77,  99.9 ,
        100.24,  98.95, 100.  , 100.77, 102.26, 100.7 , 105.68,  98.54,
        101.97, 101.76,  99.27, 100.96,  99.96, 102.93,  95.23, 100.53,
        100.13, 100.87],
       [   nan,  98.73, 103.23, 100.  , 100.66,  99.88,  99.5 , 107.63,
        102.88,  99.69, 100.85,  94.36, 102.11, 103.35, 100.25,  99.97,
        101.49, 100.69,  99.23,  96.39, 100.43, 104.01, 100.33,  99.64,
         99.92,  98.12, 101.69, 106.33, 100.78, 100.  ,  99.56, 103.32,
         98.5 , 100.64],
       [   nan, 100.31, 100.39, 100.87, 101.33, 101.06, 100.34,  99.58,
        100.34,  99.41, 100.38, 100.29, 100.88,  97.8 , 101.23, 100.08,
         99.75, 100.96,  99.75, 100.71, 101.08, 100.86, 102.03,  99.8 ,
         97.05, 107.59, 102.86, 100.  , 100.07,  99.96,  99.74, 100.19,
        100.  , 100.04],
       [   nan, 101.96,  99.59, 100.  ,  99.91, 100.  ,  99.91,  99.95,
        102.85, 100.45,  99.56, 100.58, 101.91, 100.  , 100.74, 100.04,
         99.78,  99.31, 101.18, 101.94, 100.85,  99.96, 102.48,  99.51,
         97.45, 100.97, 100.  , 102.13, 100.  ,  99.96, 100.  , 107.7 ,
        100.11, 101.63],
       [   nan, 100.17, 102.15, 103.76, 100.  , 100.82, 104.25, 100.81,
        100.55, 100.18,  99.42,  99.82, 100.15, 101.83, 100.29,  99.82,
        100.  , 100.18, 102.55, 101.26, 100.76,  99.38, 100.31, 101.45,
         98.88,  99.42, 100.03,  99.93, 100.  , 101.24,  98.46, 100.73,
        103.23,  97.83],
       [   nan, 102.5 , 107.75, 104.19,  99.29, 101.8 , 100.42, 100.  ,
        100.06,  99.87, 100.54, 100.  , 100.  ,  98.79, 101.13,  99.27,
        101.19, 101.33,  99.34, 100.  , 102.11, 119.22, 103.2 ,  96.12,
        100.  ,  95.29,  97.35, 100.67,  93.84, 100.83, 103.89, 103.6 ,
        100.49, 101.17],
       [   nan, 100.  , 100.  , 100.  , 100.  , 100.  ,  99.8 , 100.65,
        103.94, 100.  , 100.  ,  98.24, 121.81,  87.57, 100.  , 100.  ,
        101.34, 100.  , 100.66, 100.  , 100.  ,  99.96, 100.  , 105.7 ,
         94.3 , 101.94,  97.27, 101.4 , 105.21, 100.  , 102.94, 100.  ,
        100.  ,  98.89],
       [   nan, 100.61,  99.87, 100.8 , 100.06, 100.76,  99.72,  99.34,
        100.06, 100.25, 100.85, 100.47,  96.78,  99.55, 105.51,  99.72,
         99.97, 101.45,  99.97, 107.91, 101.89,  99.94,  99.31, 100.14,
        103.59, 102.61, 100.58, 100.  , 100.21,  99.14, 101.21,  99.74,
        100.8 , 101.7 ],
       [   nan, 103.58,  99.85, 101.11, 100.05, 101.01, 101.1 , 100.37,
         99.11, 100.74, 100.5 ,  99.97, 101.86,  99.53, 101.15, 100.11,
        100.22,  98.55,  99.94, 100.53, 104.17,  98.59,  93.9 , 105.43,
        101.09, 101.2 , 100.74,  98.76, 100.12, 103.09, 100.07, 101.14,
         96.75, 101.88],
       [   nan, 100.23, 100.64, 100.  , 100.  , 100.19, 100.37, 100.  ,
        100.11, 100.15, 100.26,  99.81, 100.41, 100.07, 100.11, 100.  ,
        100.  , 100.  , 100.89, 100.  , 100.15, 100.  , 100.04, 100.88,
        100.04, 100.04, 114.53, 100.  , 100.  , 100.  ,  99.05, 100.  ,
        100.  , 100.  ],
       [   nan,  99.67, 100.  , 100.1 , 100.  , 100.66, 100.2 , 100.16,
         99.74, 100.  ,  96.97, 100.  , 107.69, 101.72, 100.  , 100.  ,
        100.09, 100.  , 109.65, 100.  , 100.11, 100.  , 100.  , 100.  ,
         94.5 ,  99.68,  93.72, 100.  , 100.38, 100.  , 100.  , 100.  ,
         98.46, 100.  ],
       [   nan, 100.66, 100.  , 100.22, 100.03,  99.94, 101.5 ,  98.18,
        100.79, 100.56, 100.4 ,  97.93, 100.95,  98.53,  99.4 , 100.  ,
        101.12, 100.38, 100.  , 103.52, 101.06,  99.88,  98.52, 100.89,
         99.94, 100.  , 100.55, 100.45, 100.27, 103.44, 100.  ,  99.39,
         98.14, 100.  ],
       [   nan,  99.17, 100.  , 100.  , 100.73,  99.9 , 100.21, 100.1 ,
        102.13, 100.  ,  99.9 , 100.31, 100.51, 103.73, 101.07, 100.  ,
        100.72,  99.86, 100.77, 102.8 ,  99.17, 100.  , 103.12, 100.  ,
        104.11, 103.64, 100.46, 100.  ,  98.17,  99.66, 100.3 , 100.04,
        100.  , 100.04],
       [   nan, 100.15,  96.4 ,  99.85, 100.  ,  98.54,  97.85, 101.89,
         99.28,  99.9 , 100.  ,  99.79, 100.1 , 100.05, 103.94, 100.1 ,
        100.15, 101.74, 102.98, 101.19, 103.33,  99.73, 100.64, 100.45,
         98.33, 100.82, 101.18, 100.  , 102.11,  99.56, 102.39, 100.39,
        100.  , 100.3 ],
       [   nan, 100.  , 101.61, 100.  , 100.  , 102.03, 117.5 ,  98.97,
        105.05, 100.  , 101.8 , 107.12, 100.  , 100.78, 100.8 ,  99.74,
        100.32,  98.82, 107.3 , 104.09,  94.65, 101.86, 100.  ,  96.61,
        100.  , 110.49, 100.51, 101.62, 105.31, 102.51, 100.  , 100.  ,
        100.  ,  84.94],
       [   nan, 100.05, 108.05, 100.04, 100.09,  93.09, 102.55,  99.86,
        101.48, 100.  , 101.68, 100.04, 100.49, 101.34,  99.87,  98.28,
        100.04, 100.04,  99.28, 100.05, 102.34, 100.04,  99.21, 100.  ,
        101.15,  98.9 , 104.38, 101.57, 100.  , 100.  , 100.  , 102.46,
        100.57, 100.  ],
       [   nan,  98.62, 100.05, 100.15, 100.  ,  98.61,  99.39, 100.61,
        103.38, 101.37, 102.36, 100.05,  98.73, 101.29,  97.93, 101.15,
         97.1 ,  96.67, 103.24, 100.49,  99.66, 100.  , 100.34, 100.2 ,
        100.29, 100.83, 100.  , 100.  , 104.29, 113.34, 107.17, 100.19,
         90.52, 100.17]])

In [148]:
#reshape한 상승률 행렬로 원래 테이블의 밸류값을 교체하여 상승률 테이블을 만듭니다.

df_pt.loc[:,:] = na
df_pt.head()

year  2015                    2016                                          \
month   10      11      12      1       2       3       4       5       6
city
강원     NaN  100.18  100.00  100.09  100.00  100.97   97.54   98.93   99.39
경기     NaN   98.73  103.23  100.00  100.66   99.88   99.50  107.63  102.88
경남     NaN  100.31  100.39  100.87  101.33  101.06  100.34   99.58  100.34
경북     NaN  101.96   99.59  100.00   99.91  100.00   99.91   99.95  102.85
광주     NaN  100.17  102.15  103.76  100.00  100.82  104.25  100.81  100.55

year            ...      2017                    2018                          \
month      7    ...        10      11      12      1       2       3       4
city            ...
강원      99.86   ...    101.97  101.76   99.27  100.96   99.96  102.93   95.23
경기      99.69   ...     99.92   98.12  101.69  106.33  100.78  100.00   99.56
경남      99.41   ...     97.05  107.59  102.86  100.00  100.07   99.96   99.74
경북     100.45   ...     97.45  100.97  100.00  102.13  100.00   99.96  100.00
광주     100.18   ...     98.88   99.42  100.03   99.93  100.00  101.24   98.46

year
month      5       6       7
city
강원     100.53  100.13  100.87
경기     103.32   98.50  100.64
경남     100.19  100.00  100.04
경북     107.70  100.11  101.63
광주     100.73  103.23   97.83

[5 rows x 34 columns]

In [150]:
#지진발생시기의 분양가격 상승률만을 비교하고자 하기 때문에 그 시기에 해당하는 column만 뽑습니다.

df_compare = df_pt[2017][[11,12]].combine_first(df_pt[2018][[1,2]])
cols = df_compare.columns.tolist()
cols = cols[2:]+cols[:2]
cols
# df_compare_2017 = df_compare[cols]
# df_compare_2017

[11, 12, 1, 2]

In [ ]:
df_compare_2016 = df_pt[2016][[9,10]]
df_compare_2016

- 분석 3의 결과
> 지진피해의 영향권 밖에 있는 경북 이외 지역들에서의 분양가격은 해당 시기에 각 지역들에 존재하는 다양한 외부 요인에 의해 상승 혹은 하락한다. 따라서 지진이 발생하지 않은 지역에 비해 지진이 발생한 지역의 아파트 분양가격 상승률이 더 높다는 결론은 내리기 힘들다.

## 결론

지진이 발생한 시기에 피해지역의 아파트 분양가격은 대체적으로 전월대비 상승하는 형태를 보인다.

해당 시기 전용면적별 상승률을 비교해보면, 전용면적이 작을수록 상승률이 높게 나타난다.

그러나 지진 발생 시기에 피해지역 이외의 분양가격 상승률과 피해지역의 분양가격 상승률을 비교하기는 어렵다.

사실 분양가격 변동에는 각 지역별로 아파트의 단지조건, 학군, 주변 환경 등 다양한 요인이 원인으로 작용하기 때문에, 

단순히 '지진발생'이라는 요인만을 기준으로 상승률을 분석해 어떤 결론을 내리고 그 결론을 일반화하기에는 무리가 있다고 판단된다.

## 가설 3) 분석

## 가설설정

1. 가설 :
    - 해가 갈수록 서울, 수도권 지역 분양가격 상승률이 타 지역에 비해 높을 것이다.

## 분석방법

##### 1. 수도권 지역 월별 평균 분양 가격 분석

##### 2. 수도권 외 지역 월별 평균 분양 가격 분석

##### 3. 수도권 지역과 수도권 외 지역 월별 평균 분양 가격 비교 분석

##### 4. 수도권 지역 연간 평균 분양 가격 분석

##### 5. 수도권 외 지역 연간 평균 분양 가격 분석

##### 6. 수도권 지역과 수도권 외 지역 연간 평균 분양 가격 비교 분석

## 분석중점
    
   - 수도권과 수도권 외 지역의 평균 분양가격 추이 확인으로 의미있는 분석결과 도출

## 분석결과

   - 아파트 분양가는 수도권 지역이 수도권 외 지역 보다 1.5배 정도 높음

   - 아파트 분양가 상승률은 수도권 외 지역이 수도권 지역보다 다소 높음

## 분석과정
### 데이터 전처리

In [ ]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as bpd

# 데이터 로드
df_price = pd.read_csv("apt_2018_7.csv", encoding="euc-kr")
# 칼럼명 변경
df_price.rename(columns={"지역명":"city", "규모구분":"size", "연도":"year", "월":"mon", "분양가격(㎡)":"price(㎡)"}, inplace=True)

# 데이터가 존재하지 않는(NaN) 칼럼이 하나라도 포함되거나 price(㎡) 칼럼 내 데이터가 공백으로만 구성된 행 제외
df_price = df_price[(df_price.notnull().all(axis=1)) & (df_price["price(㎡)"].str.strip() != "")]
# 인덱스 리셋
df_price.reset_index(drop=True, inplace=True)

# price(㎡) 칼럼 내 쉼표를 제거
df_price["price(㎡)"] = df_price["price(㎡)"].str.replace(",", "")
# price(㎡) 칼럼의 타입을 정수형으로 변경
df_price["price(㎡)"] = df_price["price(㎡)"].astype("int")
# size 컬럼의 데이터를 인식하기 쉽게 변경
df_price["size"].replace({"전용면적 60㎡이하":"~60㎡", "전용면적 60㎡초과 85㎡이하":"60㎡~85㎡",\
                         "전용면적 85㎡초과 102㎡이하":"85㎡~102㎡", "전용면적 102㎡초과":"102㎡~", "전체":"All"}, inplace=True)

df_price.tail()

##### 수도권
우리나라의 중심지인 서울 특별시와 그 주변에 있는 경기도와 인천 광역시를 말한다.

In [ ]:
# 지역 조회
df_price["city"].unique()

### 분석방법 1. 수도권 지역 월별 평균 분양 가격

In [ ]:
# 수도권 지역 데이터만 추출
df_price_metro = df_price[df_price["city"].isin(["서울","인천","경기"])]

# size는 All(전체)를 대상으로 함
df_price_metro_all = df_price_metro[df_price_metro["size"]=="All"]

# 년도, 월에 따라 그룹핑 후 분양가의 평균을 구함
df_price_metro_all_mean = df_price_metro_all.groupby(["year", "mon"]).mean()["price(㎡)"].reset_index()

# 전월 대비 분양 가격 상승률 칼럼 추가
df_price_metro_all_mean["rate"] = [100. if i == 0 else \
                                   round(df_price_metro_all_mean["price(㎡)"][i] / df_price_metro_all_mean["price(㎡)"][i-1] * 100, 2) \
                                   for i in range(len(df_price_metro_all_mean))]

# 수도권 표식 칼럼 추가(0:수도권 외 지역, 1:수도권 지역)
df_price_metro_all_mean["metropolis"] = 1
df_price_metro_all_mean

### 분석방법 2. 수도권 외 지역 월별 평균 분양 가격

In [ ]:
# 수도권 외 지역 데이터만 추출
df_price_outer = df_price[~df_price["city"].isin(["서울","인천","경기"])]

# size는 All(전체)를 대상으로 함
df_price_outer_all = df_price_outer[df_price_outer["size"]=="All"]

# 년도, 월에 따라 그룹핑 후 분양가의 평균을 구함
df_price_outer_all_mean = df_price_outer_all.groupby(["year", "mon"]).mean()["price(㎡)"].reset_index()

# 전월 대비 분양 가격 상승률 칼럼 추가
df_price_outer_all_mean["rate"] = [100. if i == 0 else \
                                   round(df_price_outer_all_mean["price(㎡)"][i] / df_price_outer_all_mean["price(㎡)"][i-1] * 100, 2) \
                                   for i in range(len(df_price_outer_all_mean))]

# 수도권 표식 칼럼 추가(0:수도권 외 지역, 1:수도권 지역)
df_price_outer_all_mean["metropolis"] = 0
df_price_outer_all_mean

### 분석방법 3. 수도권 지역과 수도권 외 지역 월별 평균 분양 가격 비교

In [ ]:
# 수도권 지역과 수도권 외 지역의 월별 평균 분양가 데이터 프레임을 세로로 합침 
df_price_all_mean = df_price_metro_all_mean.append(df_price_outer_all_mean, ignore_index=True)

# 피벗 테이블로 표시
df_price_all_mean.pivot_table("rate", ["year", "mon"], ["metropolis"])

### 분석방법 4. 수도권 지역 연간 평균 분양 가격

In [ ]:
# 수도권 지역 데이터만 추출
df_price_metro = df_price[df_price["city"].isin(["서울","인천","경기"])]

# size는 All(전체)를 대상으로 함
df_price_metro_all = df_price_metro[df_price_metro["size"]=="All"]

# 년도에 따라 그룹핑 후 분양가의 평균을 구함
df_price_metro_all_mean = df_price_metro_all.groupby("year").mean()["price(㎡)"].reset_index()

# 전년 대비 분양 가격 상승률 칼럼 추가
df_price_metro_all_mean["rate"] = [100. if i == 0 else \
                                   round(df_price_metro_all_mean["price(㎡)"][i] / df_price_metro_all_mean["price(㎡)"][i-1] * 100, 2) \
                                   for i in range(len(df_price_metro_all_mean))]

# 수도권 표식 칼럼 추가(0:수도권 외 지역, 1:수도권 지역)
df_price_metro_all_mean["metropolis"] = 1
df_price_metro_all_mean

### 분석방법 5. 수도권 외 지역 연간 평균 분양 가격

In [ ]:
# 수도권 외 지역 데이터만 추출
df_price_outer = df_price[~df_price["city"].isin(["서울","인천","경기"])]

# size는 All(전체)를 대상으로 함
df_price_outer_all = df_price_outer[df_price_outer["size"]=="All"]

# 년도에 따라 그룹핑 후 분양가의 평균을 구함
df_price_outer_all_mean = df_price_outer_all.groupby("year").mean()["price(㎡)"].reset_index()

# 전년 대비 분양 가격 상승률 칼럼 추가
df_price_outer_all_mean["rate"] = [100. if i == 0 else \
                                   round(df_price_outer_all_mean["price(㎡)"][i] / df_price_outer_all_mean["price(㎡)"][i-1] * 100, 2) \
                                   for i in range(len(df_price_outer_all_mean))]

# 수도권 표식 칼럼 추가(0:수도권 외 지역, 1:수도권 지역)
df_price_outer_all_mean["metropolis"] = 0
df_price_outer_all_mean

### 분석방법 6. 수도권 지역과 수도권 외 지역 연간 평균 분양 가격 비교

In [ ]:
# 수도권 지역과 수도권 외 지역의 연간 평균 분양가 데이터 프레임을 세로로 합침 
df_price_all_mean = df_price_metro_all_mean.append(df_price_outer_all_mean, ignore_index=True)

# 피벗 테이블로 표시
df_price_all_mean.pivot("year", "metropolis", "rate")

## 결론

   - 아파트 분양가는 수도권 지역이 수도권 외 지역 보다 1.5배 정도 높음

   - 아파트 분양가 상승률은 수도권 외 지역이 수도권 지역보다 다소 높음
   
   - 연간 데이터 샘플이 다르기 때문에 다른 방법을 통해 형평성을 고려해야 함

## 가설 4) 분석

## 가설설정



1. 가설 :
   - 전용면적이 넓어질수록 분양가격이 하락할 것이다.
   


2. 가설근거
  
  
      1) 규모가 커지면 면적당 분양가격이 상승할 것이라고 판단
      2) 물건을 팔 때 여러개를 한 번에 팔면 할인을 해줄 수 있듯이 넓은 면적일수록 단위 전용면적 당 분양가격이 하락할 것이라고 예상
      3) 전용면적이 높을수록 관리비 부담이 커지기 때문에 단위 전용면적 당 분양가가 하락 할 것으로 예상

## 분석방법

##### 1. 각 규모구분과 다음 구간 규모구분과의 분양가격 차이를 구한다.

##### 2. 각 규모구분  분양가격 차이를 기준 규모로 나누어 상승률을 구한다.

##### 3. 전체 지역별로 각 규모구분 분양가격 상승률을 구해서 한 표에 합친다.

##### 4. 상승률이 양수(%)이면 다음 구간이 전 구간 보다 상승한 것이고 음수(%)이면 하락한 것이다.


## 분석중점

   - 상승률에 양수(%)가 많은지 음수(%)가 많은지 확인한다. 일반적으로 한쪽이 많은지 본다.

## 분석결과 

 - 가설과 무관하게 일정한 흐름이 없이 전용면적이 하락하거나 상승했을 때 일정하게 분양가격이 증감하지 않는다.

# 분석과정

### 분석방법 - 각 구간별 상승률을 구한다.

In [ ]:
df = pd.read_csv("apt_2018_7.csv", encoding='euc-kr')
df.head()

In [ ]:
df.rename(columns = {"지역명":"city","규모구분":"size","연도":"year","월":"month","분양가격(㎡)":"price(㎡)"}, inplace = True)
df.replace(('전용면적 102㎡초과','전용면적 85㎡초과 102㎡이하','전용면적 60㎡초과 85㎡이하','전용면적 60㎡이하','전체'),\
           ('102㎡ ~','85㎡ ~ 102㎡', '60㎡ ~ 85㎡','~ 60㎡','avg'), inplace = True)
           
df["price(㎡)"] = df["price(㎡)"].ffill().apply(lambda x: x.replace(',','')) # nan인 값들을 다음 데이터 값으로 채워줌, 데이터 내 쉼표 제거
df["price(㎡)"].replace('  ', np.nan, inplace = True) # 공백, 즉 가격데이터가 없는 값들을 nan으로 바꿔줌

df.dropna(inplace = True) # 가격이 nan인 행을 모두 드랍
df['price(㎡)'] = df['price(㎡)'].astype('int') # str이었던 가격을 int로 바꿔줌

## 분석 방법 (함수로 실행한다.)

##### 1. 각 규모구분과 다음 구간 규모구분과의 분양가격 차이를 구한다.

##### 2. 각 규모구분  분양가격 차이를 기준 규모로 나누어 상승률을 구한다.

##### 3. 전체 지역별로 각 규모구분 분양가격 상승률을 구해서 한 표에 합친다.

In [ ]:
# 각 지역별 규모구분과 다음 규모구분의 상승률 차이를 계산하는 함수
def func_rate(dft, city_ls):
    new_df = pd.DataFrame()    # return할 dataframe을 생성한다.
    
    for c in city_ls:    # 각 지역별로 돌린다.
        for n in range(3):   # 구간이 5개인데 전체구간은 해당되지 않으므로 제외하고 4구간에서 구간 간격은 3이므로
            if n == 0:
                s = "~ 60㎡"        # 기준 전용면적
                ne = "60㎡ ~ 85㎡"  # 비교할 대상 전용면적
            elif n == 1:
                s = "60㎡ ~ 85㎡"
                ne = "85㎡ ~ 102㎡"
            else:
                s = "85㎡ ~ 102㎡"
                ne = "102㎡ ~"
                
            df_rise = dft[dft['city'] == c]    # 해당 지역의 데이터를 넣는다.
            df_rise = df_rise[df_rise['size'] == s]    # 기준 구간의 데이터를 넣는다.
            df_rise.reset_index(drop=True, inplace=True)
            df_rise_next = dft[dft['city'] == c]   # 비교할 지역의 데이터를 넣는다.
            df_rise_next = df_rise_next[df_rise_next['size'] == ne]    # 다음 구간의 데이터를 추춣한다.
            df_rise_next.reset_index(drop=True, inplace=True)
            df_rise['next'] = df_rise_next['price(㎡)']    # 다음 구간의 데이터를 넣는다.
            df_rise.reset_index(drop=True, inplace=True)
            df_rise['sub'] = df_rise['next'] - df_rise['price(㎡)']   # 다음 구간 데이터와의 차를 구한다.
            df_rise.reset_index(drop=True, inplace=True)
            # 나누기를 할 때 분모가 0이나 공백이면 안 된다. 구간 간격 분양가격 차이를 기준 분양가격으로 나누어 상승률을 계산한다.
            df_rise['rate'] = round(df_rise['sub'] / df_rise['price(㎡)'] * 100, 2) if df_rise['price(㎡)'] is not np.nan and df_rise['price(㎡)'] is not 0 else np.nan
            df_rise['size'] = s + " / " + ne   # 어느 기준 구간과 다음 구간의 상승률인지 표시한다.
            
            # 합계를 구하기 위해 개수를 구한다.
            df_tmp = df_rise[["city", "size", "rate"]]
            df_avg = df_tmp.groupby(["city", "size"]).size().reset_index(name="counts")
            # 평균를 구하기 위해 합계를 구한다.
            df_avg['sum'] =  df_tmp['rate'].agg('sum')
            
            # 평균을 구한다.
            df_avg['avg'] = round(df_avg['sum'] / df_avg['counts'], 2)
            
            if float(df_avg['avg']) > 0.00:
                df_avg['updown'] = "증가"
            else:
                df_avg['updown'] = "감소"
            
            # dataframe 하단에 계속 추가한다.
            new_df = pd.concat([new_df, df_avg]).reset_index(drop=True)
            
    # 불필요한 컬럼을 삭제한다.
    new_df.drop(columns = 'counts', inplace = True)
    new_df.drop(columns = 'sum', inplace = True)
    new_df.reset_index(drop=True)
    
    # 컬럼 순서가 바뀔 수 있기 때문에 다시 지정한다.
    cols = ['city', 'size', 'avg', 'updown']
    new_df = new_df[cols]
    
    return new_df

In [ ]:
# 각 지역별 규모구분과 다음 규모구분의 상승률 차이를 계산한다.
re_df = func_rate(df, ['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전남', '전북', '제주', '충남', '충북'])
re_df

# city - 지역, size - 기준 구간 / 다음 구간, avg - 구간 상승률, updown - 다음 구간에서 증가했는가 감소했는가

## 결론

가설과 무관하게 일정한 흐름이 없이 전용면적이 하락하거나 상승했을 때 일정하게 분양가격이 증감하지 않는다. 상승률에 양수(%)와 음수(%)가 일정한 패턴으로 있지 않고 불규칙적으로 있어서 전용면적이 늘어날수록 분양가격이 상승하거나 하락한다고 말 할 수 없다.

## 다른 방법으로 전처리

#### pivot을 사용하지 않고 간단하게 원하는 표와 그래프를 만들어 보여줄 수 있도록 하였습니다.

In [ ]:
df = pd.read_csv("apt_2018_7.csv", encoding='euc-kr')
df.head()

In [ ]:
df.rename(columns = {"지역명":"city","규모구분":"size","연도":"year","월":"month","분양가격(㎡)":"rate(㎡)"}, inplace = True)
df.replace(('전용면적 102㎡초과','전용면적 85㎡초과 102㎡이하','전용면적 60㎡초과 85㎡이하','전용면적 60㎡이하','전체'),\
           ('102㎡ ~','85㎡ ~ 102㎡', '60㎡ ~ 85㎡','~ 60㎡','avg'), inplace = True)
           
df["rate(㎡)"] = df["rate(㎡)"].ffill().apply(lambda x: x.replace(',','')) # nan인 값들을 다음 데이터 값으로 채워줌, 데이터 내 쉼표 제거
#df["rate(㎡)"].replace('  ', np.nan, inplace = True) # 공백, 즉 가격데이터가 없는 값들을 nan으로 바꿔줌

df["rate(㎡)"].replace('  ', 0, inplace = True)
# 공백, 즉 가격데이터가 없는 값들을 0으로 바꿔줌. 
# 일단 공백 행이 있어야 하는데 int로 형변환을 위해 0으로 바꿔줌. 나중에 다시 공백으로 바꿔야 한다.

#df.dropna(inplace = True) # 가격이 nan인 행을 모두 드랍    # 우선 행의 개수를 맞춰야 하기 때문에 나중에 필요하면 실행한다.
df['rate(㎡)'] = df['rate(㎡)'].astype('int') # str이었던 가격을 int로 바꿔줌

In [ ]:
import matplotlib as mpl           # 그래프를 그리는 모듈
import matplotlib.pyplot as plt    # 그래프를 그리는 모듈
from matplotlib import rc, font_manager   # 한글 깨짐 방지하기 위해 필요

# 마지막 실행 결과만 출력되지 않고 중간 실행 결과도 모두 출력하기
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 표가 중간에 짤리지 않고 모두 나오도록. 스크롤 생김
pd.set_option('display.large_repr', 'truncate')
pd.set_option('display.max_columns', 0)
pd.set_option('max_colwidth', 800)

## 세로로 나열된 표를 보기 쉽도록 구성

In [ ]:
df_ym = df[["year", "month"]]     # 표의 가로 축(columns)에 년도와 월이 나오도록 년도, 월 데이터를 추출한다.
df_ym = df_ym.drop_duplicates()   # 중복제거
df_year = list(df_ym["year"])     # year의 data를 뽑는다.
df_month = list(df_ym["month"])   # month의 data를 뽑니다.

# https://datascienceschool.net/view-notebook/a49bde24674a46699639c1fa9bb7e213/
df_cs = df[["city", "size"]]      # 표의 세로 축(index)에 지역과 규모구분이 나오도록 지역, 규모구분 데이트를 추출한다.
df_cs = df_cs.drop_duplicates()   # 중복제거
df_city = list(df_cs["city"])     # city의 data를 뽑는다.
df_size = list(df_cs["size"])     # size의 data를 뽑는다.

# 위에서 뽑은 데이터로 표의 인덱스, 컬럼을 구성한다.
df_all = pd.DataFrame(index = [df_city, df_size], columns = [df_year, df_month])
df_all.columns.names = ["year", "month"]    # columns에 이름을 붙인다.
df_all.index.names = ["city", "size"]       # index에 이름을 붙인다.

n = int(len(df.index) / len(df_all.index))    # 반복해야 하는 열의 수를 구한다.

# 데이터를 첫번째 열 부터 마지막 열 까지 열 단위로 넣는다.
for i in range(n):
    df_all[df_all.columns[i]] = list(df["rate(㎡)"][len(df_all.index)*i:len(df_all.index)*(i+1)])

# 분양가격 column에서 공백, 즉 가격데이터가 없는 값들을 공백으로 바꿔준다.
df_all.replace(0, "", inplace = True)
#df_all.dropna(inplace = True)  # 공백이 포함된 행이 없어지므로 실행하지 않음

# 새로 구성한 표를 보여준다.
df_all

In [ ]:
# pivot을 이용하면 바로 가능함을 알게 되었음.
df_pt = df.pivot_table('rate(㎡)',['city','size'],['year','month'])
df_pt

In [ ]:
# 참고 - stack(): 열 인덱스 -> 행 인덱스로 변환, unstack(): 행 인덱스 -> 열 인덱스로 변환

# df_tmp.stack("year")     # 열 인덱스를 행 인덱스로 변환 가능
# df_tmp.stack("month")    # 열 인덱스를 행 인덱스로 변환 가능
# df_tmp.unstack("year")   # error. 이미 행 인덱스
# df_tmp.unstack("month")  # error. 이미 행 인덱스

# df_tmp.stack("city")     # error. 이미 열 인덱스
# df_tmp.stack("size")     # error. 이미 열 인덱스
# df_tmp.unstack("city")   # 행 인덱스를 열 인덱스로 변환 가능
# df_tmp.unstack("size")   # 행 인덱스를 열 인덱스로 변환 가능

## 원하는 구간을 바로 표로 보여줄 수 있는 함수

In [ ]:
def func_df_view(df, s_city="서울", s_size="avg", e_city="제주", e_size="102㎡ ~", s_year=2015, s_month=10, e_year=2018, e_month=7, x=1, y=1):
    df_idx = list(df.index)
    df_clm = list(df.columns)

    df_idx_s = df_idx.index((s_city, s_size))
    df_idx_e = df_idx.index((e_city, e_size))
    
    df_clm_s = df_clm.index((s_year, s_month))
    df_clm_e = df_clm.index((e_year, e_month))
    
    return df[df_idx_s:df_idx_e+1:x][df.columns[df_clm_s:df_clm_e+1:y]]

In [ ]:
func_df_view(df_all)

In [ ]:
# 전체 지역의 전체(avg) 규모구분의 2017년 데이터를 보고 싶다.
df_all_avg_2017 = func_df_view(df_all, s_city="서울", s_size="avg", e_city="제주", e_size="avg", s_year=2017, s_month=1, e_year=2017, e_month=12, x=5, y=1)
df_all_avg_2017

In [ ]:
# 서울의 각 규모구분별 2017년 데이터를 보고 싶다.
df_seoul_2017 = func_df_view(df_all, s_city="서울", s_size="avg", e_city="서울", e_size="102㎡ ~", s_year=2017, s_month=1, e_year=2017, e_month=12, x=1, y=1)
df_seoul_2017

## pivot을 이용해서 보여주는 방법과 비교

In [ ]:
# 서울의 전체 규모구분의 2017년 데이터를 pivot을 이용해서 보여줌
df_so_2017 = df[df['city'] == '서울']
df_so_2017 = df_so_2017[df_so_2017['year'] == 2017]
df_so_2017.reset_index(drop=True, inplace=True)
df_so_2017.pivot_table('rate(㎡)',['city','size'],['year','month'])

# pivot을 이용하면 자동적으로 재정렬을 하는데 문자열의 경우도 자동적으로 정렬하기 때문에 순서가 오히려 이상하게 될 수 있다.
# 지역의 경우 가나다 순으로 강원부터 보여주고 규모구분의 경우 순서가 이상하게 되었다.

In [ ]:
# 표의 모양은 같으나 index, columns을 출력하면 다르다는 것을 알 수 있음.
# 표를 그려서 한 방법의 index, columns
df_seoul_2017.index
df_seoul_2017.columns

# 초기 데이터에서 rate(㎡)의 값을 제외한 값들이 인덱스, 컬럼으로 되었음.

In [ ]:
# pivot으로 한 방법의 index, columns
df_so_2017.index
df_so_2017.columns

# 구조가 초기 데이터와 같음. stop은 값의 개수

## 간단하게 그래프로 그리기

In [ ]:
# 그래프 설정
SMALL_SIZE = 12
MEDIUM_SIZE = 14
BIGGER_SIZE = 16

plt.rc('font', size=SMALL_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=SMALL_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=SMALL_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

# 한글 설정
#font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
#rc('font', family=font_name)

In [ ]:
def func_draw_df(df):
    gf_x = list(df.columns.levels[1])    # 그래프의 가로줄에 넣을 컬럼을 넣는다.
    #print(gf_x)
    
    # 행의 개수에 따라서 넣는 변수 개수가 다르기 때문에 각 개수 영역별로 함수를 호출한다.
    if len(df) == 1:
        gf = plt.plot(gf_x, df[0:1:].values[0], marker="o")
    elif len(df) == 2:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], marker="o")
    elif len(df) == 3:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], marker="o")
    elif len(df) == 4:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0], marker="o")
    elif len(df) == 5:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], marker="o")
    elif len(df) == 6:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], marker="o")
    elif len(df) == 7:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], marker="o")
    elif len(df) == 8:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0], marker="o")
    elif len(df) == 9:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], marker="o")
    elif len(df) == 10:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], gf_x, df[9:10:].values[0], marker="o")
    elif len(df) == 11:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], gf_x, df[9:10:].values[0], gf_x, df[10:11:].values[0], marker="o")
    elif len(df) == 12:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], gf_x, df[9:10:].values[0], gf_x, df[10:11:].values[0],\
                      gf_x, df[11:12:].values[0], marker="o")
    elif len(df) == 13:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], gf_x, df[9:10:].values[0], gf_x, df[10:11:].values[0],\
                      gf_x, df[11:12:].values[0], gf_x, df[12:13:].values[0], marker="o")
    elif len(df) == 14:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], gf_x, df[9:10:].values[0], gf_x, df[10:11:].values[0],\
                      gf_x, df[11:12:].values[0], gf_x, df[12:13:].values[0], gf_x, df[13:14:].values[0], marker="o")
    elif len(df) == 15:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], gf_x, df[9:10:].values[0], gf_x, df[10:11:].values[0],\
                      gf_x, df[11:12:].values[0], gf_x, df[12:13:].values[0], gf_x, df[13:14:].values[0],\
                      gf_x, df[14:15:].values[0], marker="o")
    elif len(df) == 16:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], gf_x, df[9:10:].values[0], gf_x, df[10:11:].values[0],\
                      gf_x, df[11:12:].values[0], gf_x, df[12:13:].values[0], gf_x, df[13:14:].values[0],\
                      gf_x, df[14:15:].values[0], gf_x, df[15:16:].values[0], marker="o")
    else:
        gf = plt.plot(gf_x, df[0:1:].values[0], gf_x, df[1:2:].values[0], gf_x, df[2:3:].values[0], gf_x, df[3:4:].values[0],\
                      gf_x, df[4:5:].values[0], gf_x, df[5:6:].values[0], gf_x, df[6:7:].values[0], gf_x, df[7:8:].values[0],\
                      gf_x, df[8:9:].values[0], gf_x, df[9:10:].values[0], gf_x, df[10:11:].values[0],\
                      gf_x, df[11:12:].values[0], gf_x, df[12:13:].values[0], gf_x, df[13:14:].values[0],\
                      gf_x, df[14:15:].values[0], gf_x, df[15:16:].values[0], gf_x, df[16:17:].values[0], marker="o")        
        
    return gf

In [ ]:
df_all_avg_2017   # 2017년 전체 구간에 대한 분양가격을 표로 보여준다.

In [ ]:
# 2017년 전체 구간에 대한 분양가격을 간단하게 그래프로 보여준다.
gf_all_avg_2017 = func_draw_df(df_all_avg_2017)